/* General CSS */
body, html {
  font-family: 'Rubik', sans-serif;
}
.rounded-blocks {
  border-radius: 10px;
}

/* Header */
.progress {
  width: 150%;
  height: 150%;
  line-height: 150%;
}

.brand-logo {
  font-size: 30px;
  letter-spacing: 3px;
  color: steelblue;
  font-style: oblique;
  font-weight: 300;
}

.brand-logo-small {
  font-size: 20px;
  letter-spacing: 3px;
  color: steelblue;
  font-style: oblique;
  font-weight: 300;
}

.brand-text {
  color: aliceblue;
}

.dropdown-item, .link-text, .text-header {
  color: steelblue;
}

.brand-text-highlight {
  color: aqua;
}
.brand-text {
  color: aliceblue;
}

h5 {
  font-weight: 500;
}

/* Parallax */
.page-slider {
  background: url('../images/slider.png') center center no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  height: 100vh;
  padding-top: 15em;
}

.page-slider .content {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Carousel */
.carousel-item img {
  border: 1px solid aqua;
}

/* Flex Box */
.paper{
  background-color: whitesmoke;
  text-align: center;
  box-shadow: 0 0 1em grey;
  padding: 0.25em;
  margin: 0.1em;
}

/* Description */
.page-description-article {
  background-color:azure;  
  color: steelblue;
}

.small-text {
  font-size: 11px;
}

.page-description-article h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-bottom: 2px solid ;
  padding-bottom: 12px;
}

.page-description-article span {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: black;
}

.page-description-article p {
  font-size: 15px;
  padding-top: 5px;
}

/* Footer */
.copyright-text {
  font-size: 10px;
}

.dark, .footer-bs {
  background-color:whitesmoke;  
  color: steelblue;
}

.footer-brand p {
  font-size: 11px;
  color: steelblue;
}

.list {
  list-style:none;
  font-size: 11px;
}

.list a {
  color: steelblue;
}

.list a:hover {
  color: blue;
  text-decoration:none;
}

.footer-brand h4, .footer-nav h4, .footer-social h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* .footer-nav, .footer-social  {
  border-left:solid 1px steelblue;
} */

.social-newsletter label{
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 3px;
}