body, html {
    font-family: 'Rubik', sans-serif;
    
    /* line-height:1.5; */
}

.brand-text-highlight {
    color: aqua;
}

.brand-text {
    color: aliceblue;
}

.nav-link, .dropdown-item {
    color: steelblue;
}

.page-slider {
    background: url('../images/slider.png') center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
}

.page-slider .content {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.navbar {
    font-size: 1.2em;
    color:#555;
}

.paper-flex-container-2{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    text-align: center;
    margin-top: 8%;
    margin-bottom: 5%
}

.paper-flex-container {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%
}

.paper-flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
} 

.paper{
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0 20px grey;
    padding: 0.25em;
    margin: -1.9em;
}

.paper img
{
    height: 150px;
    width:250px;
}

.paper h2{
    font-size: 1em;
    color: #444;
}

.paper p{
    font-size: 0.8em;
    color: coral;
    padding: 1em;
}