/* body, html {
    height: 100%;
    width: 100%;
    font-family: 'Slabo 27px', serif;
    line-height:1.5;
    color:#555;
}


.navbar {
    font-size: 1.2em;
    color:#555;
}

.bg-light {
	background-color: #e9ecef !important;
}
.clear{
    clear:both;
    display:block;
    font-size:0;
    height:0;
    line-height:0;
    width:100%;
    overflow:hidden
}
:active,:focus{
    outline:0!important
}
span.middot{
    display:inline-block;
    margin:0 5px
}
.nobottommargin{
    margin-bottom:0!important
} */

/* section {
    height: 100%;
    width: 100%;
  }
  body {
    margin: 0;
  }
  header {
    padding: 1em;
  } */
.section-1 {
    /* text-align: center; */
    background-image: url('../images/parallax1.jpg');
    /* padding: 10em;*/
    width: 800px; 
    height: 800px; 
    /* background-attachment: fixed; */
  }

.section-2 {
    background-image: url('../images/parallax2.jpg');
    width: 1286px;
    height: 100vh;
    background-attachment: fixed;
  } 
